@page "/"
@inject WeatherApiClient WeatherApi
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		Hello from Blazor Auth, @context.User.Identity?.Name (@context.User.Identity?.AuthenticationType).
		@if (identity?.IsAuthenticated == true)
		{
			<p>Hello from API Service, @identity.Name (@identity.AuthenticationType).</p>
		}
		else
		{
			<button @onclick="GetApiIdentityInfo">Get API Identity Info</button>
		}
	</Authorized>
	<NotAuthorized>
		You are not authorized.
		<button @onclick="SignIn">Sign In</button>
	</NotAuthorized>
</AuthorizeView>


@code
{
	private IdentityInfo? identity;

	private async Task GetApiIdentityInfo()
	{
		identity = await WeatherApi.GetMeAsync();
	}

	private void SignIn()
	{
		NavigationManager.NavigateTo("MicrosoftIdentity/Account/SignIn", true);
	}
}
